body {
	background-color: black;
	font-family: 'Share Tech Mono', monospace;
	position: relative;
}

#gameScreen {
	background-color: lightblue;
	margin: auto;
	width: 70vw;
	height: 85vh;
	position: relative;
}

header {
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
}

.hide {
	visibility: hidden;
}