body {
	background-color: #122A59;
	font-family: 'Share Tech Mono', monospace;
	position: relative;
}

#wrapper {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 12em 70vw 12em;
    grid-template-rows: 100%;
    grid-template-areas: "playerhud gamescreen scorehud";
}

#instructions {
	background-image: url(../img/spacebg.png);
	margin: auto;
	width: 70vw;
	height: 85vh;
	position: relative;
	grid-area: "gamescreen";
	border: 3px solid #C7DCEB;
	margin-left: 1.3%;
	color: white;
	font-size: 1em;
	text-align: center;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 4% 1fr 1fr 1fr 1fr;
    grid-template-areas: "infoheader infoheader"
    					 "player-note enemy-note"
    					 "movement-note movement-note"
    					 "playershoot-note enemyshoot-note"
    					 "health-note health-note";
}

#instructions img {
	height: 5.5em;
}

.infoheader {
	grid-area: infoheader;
	font-size: 35px;
}

.player-note {
	grid-area: player-note;
}

.enemy-note {
	grid-area: enemy-note;
}

.movement-note {
	grid-area: movement-note;
}

.playershoot-note {
	grid-area: playershoot-note;
}

.enemyshoot-note {
	grid-area: enemyshoot-note;
}

.health-note {
	grid-area: health-note;
}

#gameScreen {
	background-image: url(../img/spacebg.png);
	margin: auto;
	width: 70vw;
	height: 85vh;
	position: relative;
	grid-area: "gamescreen";
	border: 3px solid #C7DCEB;
	margin-left: 1.3%;	
}

header {
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
}

.hide {
	visibility: hidden;
}

#playerShip {
	background-image: url(../img/player-ship.png);
	background-position: center;
	background-size: 50px;
}

#player2Ship {
	background-image: url(../img/player2-ship.png);
	background-position: center;
	background-size: 50px;
}

.enemy {
	background-image: url(../img/enemy-ship.png);
	background-position: center;
	background-size: 60px;
	background-repeat: no-repeat;
}

.hud {
    height: 38.5em;
    width: 12em;
    border: 3px solid #C7DCEB;
    text-align: center;
    background-color: black;
    border-radius: 20px;	
    color: white;
}

.playerhud {
	grid-area: "playerhud";
}

.playerhud h2 {
	font-size: 20px;
	color: #D90000;
}

.hud h3 {
	color: white;
	font-size: 2.3em;
	margin: 0;
}

#playerhealth {
	font-size: 2.3em;
	color: #D90000;
	margin: 0;
	margin-bottom: 0.3em;
}

#player2health {
	font-size: 2.3em;
	color: #fe8223;
	margin: 0;
	margin-bottom: 0.3em;
}

.playerhud p {
	margin-top: 40px;
	color: white;
	font-size: 20px;
}

.playButton {
	text-align: center;
	width: 80%;
	border-radius: 10px;
	margin-left: 10%;
	animation: glow 2000ms infinite;
}

.playButton p {
	padding: 6%;
}

@keyframes glow {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

#join-button {
	text-align: center;
	width: 80%;
	border-radius: 10px;
	margin-left: 10%;
	background-color: gray;
	height: 4em;
	margin-top: 75%;
}

#join-button p {
	padding-top: 2%;
}

#player2-information {
	margin-top : 10em;
}

.scorehud {
	grid-area: "scorehud";
	margin-left: 13.5%;
}

#healthbar {
	height: 10px;
	width: 80%;
	background-color: #D90000;
	text-align: left;
	margin-left: 1.3em;
	border: 2px solid #C7DCEB;
}

#p2healthbar {
	height: 10px;
	width: 80%;
	background-color: #fe8223;
	text-align: left;
	margin-left: 1.3em;
	border: 2px solid #C7DCEB;
}

.removeDisplay {
	display: none;
}

.gridclass {
	display: grid;
}

#endstats {
	font-size: 2em;
}

.highscore {
	color: #13B619;
}

#gameOver {
	background-color: transparent;
	width: 70vw;
	height: 85vh;
	position: relative;
	font-size: 6em;
	text-align: center;
	color: #B20000;
	z-index: 300;
}

#gameOver h1{
	margin: 0;
	margin-top: 14%;
}