body {
	background-color: black;
	font-family: 'Share Tech Mono', monospace;
}

#gameScreen {
	background-color: lightblue;
	margin: auto;
	width: 70vw;
	height: 85vh;
	position: relative;
}

header {
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
}

/*.allyBullet {
	background-color: red;
	height: 10px;
	width: 5px;
	position: absolute;
}*/

.enemy {
	background-color: purple;
    width: 3em;
    height: 3em;
    position: absolute;
}